@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

/* css reset */
* { margin: 0; padding: 0; }





:root{
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}



body{
    background-color: var(--color-base2) !important;
    color:var(--color-body) !important;
    font-family: var(--font-base),sans-serif !important;
   
}




h1,h2,h3,h4,h5,h6{
    color: var(--color-brand);
    font-weight: 700;
}



.navcontainer{
    width: 100%;
}

ul{
    width: 100%;
}

li{
    list-style: none;
    width: 25%;
}





section{
    min-height: 100vh;
    height: 100%; 
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}


table{
    margin: auto;
}

.profilePic{
    width: 100%;
}

.profilePic .playerAvatar{
    margin: auto !important;
}


.searchBar{
    background-color: var(--color-body) !important;
    width: 100%;
    max-width: 1300px;
    text-align: center;
}

.navbar .nav-link{
    color: aliceblue;
}

.navbar .nav-link:hover{
    color: var(--color-brand);
}

.navbar .nav-link .active{
    color: var(--color-brand);
}

.bg-base{
    background-color: var(--color-base);

}

.shadow-effect{
    transition: all 0.5s;
}

.shadow-effect:hover{
    box-shadow: -6px 6px 0 0px var(--color-brand);
}

.card-custom{
    margin-left: auto;
    margin-right: auto;

    width: 70%;
    
}

.card-custom .card-custom-image{
    overflow: hidden;
}

.card-custom .card-custom-image img{
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img{
    transform: scale(1.1);
}

input:focus{
    border: 1.5px dashed var(--color-brand2) !important;
    /* background-color: #deff58; */
}

td:hover{
    color: var(--color-brand2);
}

td{
    
    padding: 3px 10px;
}

.teamLogo{
    width: 100%;
    max-height: 50px;
}

/* .dropdown-heading{
    margin: auto;
} */

button{
    width: 100%;
}

.compareTable{
    height: 100vh;
}

.compareContainer{
    height: 100%;
}

.comparisonChart{
    margin: 30px;
}

.compareChart{
    margin:10px  0px;
}